@media (max-width: 1280px) {
  .container {
    padding-left: 75px;
    padding-right: 75px;
  }

  .bottom-menu__list:not(:nth-child(5n)) {
    margin-right: 30px;
  }

  .form__search {
    width: 160px;
  }

  .bottom-menu__search {
    margin-bottom: 25px;
  }

  .gallery__left-box {
    flex: 0 1 32%;
  }

  #effect {
    display: none;
  }

  .publications__card-desc {
    margin-right: 30px;
  }

  .events__card:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .events__card:not(:nth-child(2n)) {
    margin-right: 100px;
  }

  .box__contact {
    padding: 124px 102px 104px 0;
  }

  .elements__map-desktop {
    display: inline-block;
    width: 700px;
    height: 700px;
    margin-right: -75px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__logo {
    width: 187px;
    height: 42px;
  }

  .personal-account__button {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .nav {
    display: block;
  }

  .header__search {
    display: block;
  }

  .search {
    padding-right: 0;
  }

  .header-2 {
    display: none;
  }

  .master-banner {
    margin-top: 0;
    padding: 0;
  }

  .top-banner__content {
    padding: 112px 0 115px 0;
  }

  .top-banner__title {
    margin: 0 0 7px 0;
  }

  .top-banner__text {
    max-width: 662px;
    margin: 0 0 130px 0;
    font-size: 18px;
  }

  .about__title {
    margin-bottom: 17px;
  }

  .gallery__title {
    margin-bottom: 6px;
  }

  .gallery__right-box {
    flex: 0 1 66%;
    height: 682px;
    margin-top: 23px;
  }

  .swiper-container-2 > .swiper-wrapper {
    margin-top: 50px;
    height: 620px;
  }

  .swiper-container-2 > .swiper-button-next {
    left: 105px;
  }

  .swiper-container-2 > .swiper-button-prev {
    left: 5px;
  }

  .swiper-container-2 > .swiper-pagination {
    padding-left: 50px;
  }

  .left-box__text {
    margin-top: 290px;
    line-height: 32px;
  }

  .catalog__list-icon {
    margin-top: 10px;
  }

  .catalog__header {
    margin-bottom: 5px;
  }

  .desc__title {
    margin-top: 30px;
    margin-bottom: 4px;
  }

  .desc__text-quote {
    font-size: 15px;
  }

  .events__card:not(:nth-child(3n)) {
    margin-right: 24px;
  }

  .events__card:nth-child(3n) {
    margin-right: 0;
  }

  .content-card__work-mode {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .card__desc-subtitle {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card__desc-text {
    margin-bottom: 22px;
  }

  .events__button {
    margin-top: 15px;
  }

  #effect {
    display: flex;
  }

  .events__card-desc {
    padding: 5px 35px 45px 35px;
  }

  .publications__box {
    padding: 80px 0;
  }

  .publications__title {
    margin-bottom: 21px;
    font-size: 47px;
    line-height: 63px;
  }

  .publications__left-box {
    margin-right: 20px;
  }

  label {
    margin-top: 15px;
    line-height: 17px;
  }

  .filter__category {
    margin-bottom: 39px;
  }

  .filter__category_subtitle {
    line-height: 23px;
  }

  .filter__category_price {
    margin-top: 12px;
  }

  .project__card {
    width: 384px;
    height: 128px;
  }

  .form__input {
    width: 335px;
  }

  .checkbox__span {
    width: 13px;
    height: 13px;
  }

  .publications__right-box {
    height: 530px;
  }

  .swiper-container-3 > .swiper-button-next {
    left: 100px;
  }

  .swiper-container-3 > .swiper-button-prev {
    left: 0;
  }

  .swiper-container-3 > .swiper-pagination {
    padding-left: 47px;
  }

  .publications__card-desc {
    margin-right: 0;
    padding: 0;
  }

  .card__desc__top {
    padding-top: 1px;
  }

  .swiper-slide-3 {
    width: 286px;
  }

  .project {
    padding: 82px 0 40px 0;
  }

  .project__title {
    line-height: 66px;
    margin-bottom: 13px;
  }

  .project__desc {
    line-height: 32px;
    margin-bottom: 23px;
  }

  .project__slaider {
    height: 130px;
  }

  .contacts {
    padding: 34px 0 0 0;
  }

  .contacts__title {
    margin-bottom: 16px;
  }

  .box__contact {
    padding: 100px 102px 104px 0;
  }

  .box__contact-desktop {
    display: none;
  }

  .box__contact-mobile {
    display: inline-block;
  }

  .form-group {
    margin-top: 17px;
  }

  .social_icon {
    width: 60px;
    height: 60px;
  }

  .social_icon:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .elements__map-desktop {
    display: none;
  }

  .elements__map-mobile {
    display: inline-block;
    width: 537px;
    height: 700px;
    margin-right: -50px;
  }

  .footer__social-network {
    width: 240px;
    height: 60px;
  }

  .footer__social_icon {
    width: 60px;
    height: 60px;
  }

  .footer__social_icon:not(:last-child) {
    margin-right: 30px;
  }

}

@media (max-width: 801px) {
  .gallery__box {
    flex-wrap: wrap;
  }

  .left-box__text {
    display: none;
  }

  .gallery__box__text {
    display: flex;
  }

  .gallery__left-box {
    flex: 0 1 42%;
  }

  .gallery__right-box {
    display: block;
    flex: 0 1 100%;
    height: 684px;
    margin-top: 30px;
  }

  .swiper-container-2 > .swiper-wrapper {
    margin-top: 50px;
    height: 620px;
  }

  .catalog {
    padding: 80px 0 40px 0;
  }

  .catalog__content {
    flex-wrap: wrap;
  }

  .catalog__header {
    margin-bottom: 13px;
  }

  .catalog__content-left {
    order: 3;
  }

  .catalog__list-icon {
    margin-top: 5px;
  }

  .catalog__title {
    margin-right: 30px;
  }

  .list-icon__item:not(:last-child) {
    margin-right: 34px;
  }

  .catalog__header-text {
    margin-bottom: 19px;
  }

  .catalog__content-right {
    flex: 0 1 100%;
    margin-bottom: 50px;
  }

  .desc__title {
    margin-top: 31px;
    margin-bottom: 7px;
  }

  .events {
    padding: 46px 0 80px 0;
  }

  .card__desc__text {
    margin-bottom: 91px;
  }

  .events__card:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .events__card:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .events__card {
    flex: 0 1 45%;
  }

  .events__card-desc {
    padding: 5px 35px 40px 35px;
  }


  #effect {
    display: none;
  }

  .publications__left-box {
    margin-right: 0;
    margin-bottom: 20px;
    flex: 0 1 100%;
  }

  .publications__title {
    margin-bottom: 24px;
  }

  .filter__category {
    flex-wrap: wrap;
    height: 130px;
    margin-bottom: 34px;
  }

  .publications__right-box {
    flex: 0 1 100%;
    height: 510px;
  }

  .swiper-container-3 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .publications__box {
    flex-wrap: wrap;
    padding: 80px 0 75px 0;
  }

  .publications__subtitle {
    margin-top: 10px;
  }

  .publications__price {
    margin-top: 11px;
  }

  .swiper-container-3 > .swiper-pagination {
    padding-left: 45px;
  }

  .swiper-container-3 > .swiper-button-next {
    left: 95px;
  }

  .swiper-container-3 > .swiper-button-prev {
    left: 0;
  }

  .project__card {
    width: 264px;
    height: 106px;
  }

  .project {
    padding: 76px 0 40px 0;
  }

  .project__title {
    font-size: 47px;
    margin-bottom: 14px;
  }

  .project__desc {
    font-size: 17px;
    margin-bottom: 28px;
  }

  .project__slaider {
    height: 110px;
  }

  .contacts {
    padding: 42px 0 0 0;
  }

  .box__contact {
    padding: 98px 45px 104px 0;
  }
}

@media (max-width: 568px) {
  .header__logo {
    width: 97px;
    height: 22px;
  }

  .top-banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0 45px 0;
  }

  .top-banner__title {
    font-size: 32px;
    line-height: 44px;
  }

  .top-banner__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .top-banner__button {
    width: 200px;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
    padding: 11px 16px;
  }

  .swiper-container-1 > .swiper-button-next {
    display: none;
  }

  .swiper-container-1 > .swiper-button-prev {
    display: none;
  }

  .swiper-container-1 > .swiper-pagination-bullet {
    display: none;
  }

  .gallery__left-box {
    flex: 0 1 100%;
    margin-right: 0;
  }

  .gallery__right-box {
    display: block;
    flex: 0 1 100%;
    height: 430px;
  }

  .swiper-container-2 > .swiper-wrapper {
    margin-top: 50px;
    height: 400px;
  }

  .catalog__header {
    flex-wrap: wrap;
  }

  .swiper-container-5 {
    position: relative;
    width: 420px;
    height: 100%;
    overflow: hidden;
  }

  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }

  .events__content {
    flex-wrap: nowrap;
  }

  .effect {
    display: flex;
  }

  #effect {
    display: flex;
  }

  .swiper-container-5 > .swiper-pagination-bullet {
    display: block;
    min-width: 10px;
    min-height: 10px;
  }

  .swiper-container-5 > .swiper-pagination-bullet:focus {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #fff;
  }

  .swiper-container-5 > .swiper-pagination-bullet:hover {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #fff;
  }

  .swiper-container-5 > .swiper-pagination-bullet-active {
    background-color: #fff;
  }

  .events__button {
    display: none;
  }

  .filter__category {
    height: 100%;
  }

  .card__desc__top {
    display: block;
  }

  .category_button:after {
    display: block;
  }

  .publications__subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .publications__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
  }

  .publications__price {
    margin-top: 2px;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
  }

  .publications__link {
    font-size: 12px;
    line-height: 16px;
    padding: 10px 34px;
  }

  .publications__right-box {
    display: none;
  }

  .publications__mobile-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .publications__card {
    margin-top: 48px;
  }

  .swiper-container-4 {
    margin-right: 50px;
    margin-left: 50px;
  }

  .project {
    padding: 50px 0 35px 0;
  }

  .project__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 11px;
  }

  .project__desc > p {
    margin-bottom: 0;
  }

  .project__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .contacts {
    padding: 10px 0 0 0;
  }

  .contacts__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .contacts__box {
    flex-direction: column-reverse;
  }

  .box__contact {
    padding: 15px 0 30px 0;
  }

  .contacts__title {
    margin-bottom: 12px;
  }

  .box__contact-mobile {
    display: none;
  }

  .box__contact__mobile-320 {
    display: inline-block;
  }
  .elements__map-mobile {
    height: 540px;
    margin-left: -50px;
    margin-right: 0;
  }

  .contact__form__btn {
    margin-top: 21px;
  }

  .social__subtitle {
    margin-bottom: 7px;
  }

  .social_icon:not(:nth-child(2n)) {
    margin-right: 20px;
  }

}

@media (max-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-1_container {
    height: 45px;
  }

  .mobile-menu {
    width: 20px;
    height: 20px;
  }

  .burger {
    width: 20px;
    height: 20px;
  }

  .burger__item:nth-child(1) {
    margin-top: -10px;
  }
  .burger__item:nth-child(2) {
    margin-top: -1px;
  }
  .burger__item:nth-child(3) {
    margin-top: 8px;
  }

  .search {
    width: 20px;
    height: 20px;
  }

  .nav {
    top: 45px;
  }

  .top-banner__title {
    line-height: 40px;
  }

  .top-banner__text {
    margin-bottom: 38px;
    font-size: 13px;
    line-height: 18px;
  }

  .about {
    padding: 50px 0 28px 0;
  }

  .about__title {
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 38px;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery__box {
    padding: 50px 0 53px 0;
  }

  .gallery__title {
    margin-bottom: 6px;
    font-size: 28px;
    line-height: 38px;
  }

  .gallery__filter_subtitle {
    font-size: 17px;
    margin-bottom: 11px;
  }

  .gallery__right-box {
    flex: 0 1 100%;
    width: 290px;
    height: 460px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .gallery__box-text {
    font-size: 17px;
  }

  .swiper-container-2 > .swiper-pagination {
    width: 60px;
    top: auto;
    bottom: 0;
    left: 40%;
    padding-left: 0;
    margin-bottom: 5px;
    text-align: center;
  }

  .swiper-container-2 > .swiper-button-next {
    top: auto;
    bottom: 0;
    left: 63%;
    margin-top: 0;
  }

  .swiper-container-2 > .swiper-button-prev {
    top: auto;
    bottom: 0;
    left: 29%;
  }

  .swiper-container-2 > .swiper-wrapper {
    width: 290px;
    height: 360px;
  }

  .swiper-container-2 > .swiper-wrapper > .swiper-slide {
    width: 100%;
    height: 100%;
  }

  .catalog {
    padding: 81px 0 40px 0;
  }

  .catalog__header {
    margin-bottom: 14px;
  }

  .catalog__title {
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .list-icon__item:not(:last-child) {
    margin-right: 19px;
  }

  .catalog__list-icon {
    margin-left: -3px;
  }

  .list-icon__link {
    width: 44px;
    height: 44px;
  }

  .national-emblem {
    width: 32px;
    height: 32px;
  }

  .list-icon__link:focus {
    border-radius: 44px;
  }

  .list-icon__link:hover {
    border-radius: 44px;
  }

  .list-icon__link:active {
    border-radius: 44px;
  }

  .catalog__header__text {
    display: none;
  }

  .period-life {
    padding: 20px 40px 20px 0;
    font-size: 18px;
  }

  .period-life:before {
    top: 22px;
    right: 3px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  .content__left-desc {
    padding-right: 0;
  }

  .desc__title {
    margin-top: 22px;
    margin-bottom: 9px;
  }

  .desc__text-quote {
    font-size: 16px;
  }

  .events {
    padding: 0 0 12px 0;
  }

  .events__title {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 30px;
  }

  .events__card {
    flex: 0 1 290px;
    margin-bottom: 0;
  }

  .content-card__work-mode {
    margin-right: 10px;
  }

  .swiper-container-5 {
    position: relative;
    width: 320px;
    height: 100%;
    overflow: hidden;
  }

  .events__card-desc {
    padding: 5px 19px 44px 26px;
  }

  .card__desc-subtitle {
    margin-bottom: 34px;
  }

  .card__desc-text {
    margin-bottom: 55px;
  }

  .publications__box {
    padding: 48px 0 50px 0;
  }

  .publications__title {
    margin-bottom: 21px;
    font-size: 28px;
    line-height: 38px;
  }

  .filter__category_price {
    margin-top: 7px;
  }

  .publications__left-box {
    margin-bottom: 0;
  }

  .checkbox__span {
    top: 3px;
  }


  .project__title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }


  .project__card {
    width: 195px;
    height: 65px;
  }

  .project__slaider {
    height: 70px;
  }

  .swiper-container-4 > .swiper-button-next {
    display: flex;
  }

  .swiper-container-4 > .swiper-button-prev {
    display: flex;
  }

  .box__contact-subtitle {
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .box__contact-address {
    font-size: 13.5px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .elements__map-mobile {
    width: 320px;
    height: 320px;
    margin-left: -15px;
    margin-right: 0;
  }

  .form__input {
    width: 290px;
  }

  .form__title {
    font-size: 18px;
  }

  .contact__form-btn {
    font-size: 12px;
    padding: 7px 35px;
  }

  .social__subtitle {
    font-size: 18px;
    margin-top: 20px;
  }

  .social_icon {
    width: 50px;
    height: 50px;
  }

  .footer__block {
    flex-direction: column-reverse ;
    justify-content: space-around;
    height: 132px;
  }

  .footer__social-network {
    width: 210px;
    height: 50px;
  }

  .footer__social_icon {
    width: 50px;
    height: 50px;
  }

  .footer__icon-logo {
    width: 97px;
    height: 29px;
  }

  .footer__logo > svg {
    width: 97px;
    height: 22px;
  }

}
